<!DOCTYPE html>
@model HockeyManager.Models.Trade


<html lang="en">

<head>
</head>

<body>
    <div class="Important-message">
        <div class="center-text"><p>@TempData["Message"]</p></div>
    </div>
    <container>
        <div class="nav-box">@Html.Partial("NavPartial.cshtml")</div>
        <content class="content">
                <h1 class="size1">Trade History:</h1>
                <table class="history-table" id="historyTable">
                    <tr class="history-box">
                        <td class="center-text type">Type:</td>
                        <td class="center-text line">|</td>
                        <td class="center-text name">Name:</td>
                        <td class="center-text price">TradePrice:</td>
                        <td class="center-text price min1280-Hide">PriceDiffrence:</td>
                        <td class="center-text price min1280-Hide">CurrentPrice:</td>
                        <td class="center-text line">|</td>
                        <td class="center-text date">Date:</td>
                    </tr>

                    @foreach (var t in Model.Trades)
                    {
                        string priceDiffClass = t.priceDiffrence >= 0 ? "positive" : "negative";
                        <tr class="history-box history-click" data-trade-id="@t.ID">
                            @if (t.type == 1)
                            {
                                <td class="center-text type type-text">Purchased</td>
                                <td class="center-text type type-letter">P</td>
                            }
                            @if (t.type == 2)
                            {
                                <td class="center-text type type-text">Sold</td>
                                <td class="center-text type type-letter">S</td>
                            }
                            <td class="center-text line">|</td>
                            <td class="center-text name">@t.firstname @t.lastname</td>
                            <td class="center-text price">@t.oldprice</td>
                            <td class="center-text price min1280-Hide"><span class="@priceDiffClass">@t.priceDiffrence</span></td>
                            <td class="center-text price min1280-Hide">@t.price</td>
                            <td class="center-text line">|</td>
                            <td class="center-text date">@t.date</td
                        </tr>
                    }
                </table>
                <div id="pagination"></div>
        </content>
    </container>
    <script src="~/js/inside.js"></script>
</body>
</html>
