@model List<Player>
<link rel="stylesheet" type="text/css" href="~/css/Inside.css">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/Inside.css">
</head>
<container>
    <div class="Important-message"><h1>@ViewBag.Meddelande</h1></div>
    <div class="nav-box">
        @Html.Partial("NavPartial.cshtml")
    </div>
    <content>
        <label for="role-filter">Filter by Role:</label>
        <select id="role-filter">
            <option value="">All Roles</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="RW">RW</option>
            <option value="LW">LW</option>
            <option value="G">G</option>
        </select>
        <table id="playerTable">
            <tr class="player-box">
                <td class="number">Number:</td>
                <td class="center-text name">Name:</td>
                <td class="center-text line">|</td>
                <td class="center-text role">Role:</td>
                <td class="center-text line">|</td>
                <td class="center-text power">Pwr:</td>
            </tr>
            @foreach (var p in Model)
            {
                <tr class="player-box" data-role="@p.role">
                    <td class="center-text number">@p.number</td>
                    <td class="center-text name">@p.firstname @p.lastname</td>
                    <td class="center-text line">|</td>
                    <td class="center-text role">@p.role</td>
                    <td class="center-text line">|</td>
                    <td class="center-text power">@p.power</td>
                </tr>
            }
        </table>
        <div id="pagination"></div>
    </content>
</container>
<script src="~/js/inside.js"></script>