@model HockeyManager.Models.MyTeam
@using HockeyManager.Models

<container>
    <div class="Important-message">
        <h1>@ViewBag.Meddelande</h1>
    </div>
    <div class="nav-box">
        @Html.Partial("NavPartial.cshtml")
    </div>
    <content class="split-grid">
        @{
            <div class="left-box">
                <h1>@Model.TeamName</h1>
                <label for="role-filter">Filter by Role:</label>
                <select id="role-filter">
                    <option value="">All Roles</option>
                    <option value="C">C</option>
                    <option value="LD">LD</option>
                    <option value="RD">RD</option>
                    <option value="RW">RW</option>
                    <option value="LW">LW</option>
                    <option value="G">G</option>
                </select>
                <table class="Player-table" id="playerTable">
                    <tr class="player-box">
                        <td class="number">Number:</td>
                        <td class="center-text name">Name:</td>
                        <td class="center-text line">|</td>
                        <td class="center-text role">Role:</td>
                        <td class="center-text line">|</td>
                        <td class="center-text power">Pwr:</td>
                    </tr>

                    @foreach (var p in Model.TeamPlayers)
                    {
                        <tr class="@p.role player player-box" id="@p.ID" draggable="true" value="@p.ID">
                            <td class="center-text number">@p.number</td>
                            <td class="center-text name">@p.firstname @p.lastname</td>
                            <td class="center-text line">|</td>
                            <td class="center-text role">@p.role</td>
                            <td class="center-text line">|</td>
                            <td class="center-text power">@p.power</td>
                        </tr>
                    }
                </table>
                <div id="pagination"></div>
            </div>
            <div class="right-box">
                @await Html.PartialAsync("MyTeamPartial")
            </div>
        }
    </content>
</container>
<script src="~/js/inside.js"></script>

    