@model HockeyManager.Models.TeamPlayers
<head>

</head>
<container>
    <div class="Important-message"><h1>@ViewBag.Meddelande</h1></div>
    <div class="nav-box">@Html.Partial("NavPartial.cshtml")</div>
    <content class="split-grid">
        @{
            <div class="left-box">
                <h1>@Model.teamname</h1>
                <table class="Player-table">
                    <tr>
                        <td>Number:</td>
                        <td>Name:</td>
                        <td>Role:</td>
                        <td>Power:</td>
                    </tr>

                    @foreach (var p in Model.Players)
                    {
                        <tr class="player-box">
                            <td class="center-text">@p.number</td>
                            <td class="center-text">@p.firstname @p.lastname</td>
                            <td class="center-text"> | @p.role | </td>
                            <td class="center-text">@p.power</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="right-box">
                
            </div>
        }
    </content>
</container>
<script src="~/js/inside.js"></script>