<link rel="stylesheet" type="text/css" href="~/css/Inside.css">

@{
    string name = "";
    string role = "";
    int? currency = 0;

    name = Context.Session.GetString("name");
    role = Context.Session.GetString("role");
    currency = Context.Session.GetInt32("currency");
}

<nav class="nav">
    <div><img class="logo" src="~/media/Logo-text.jpg" alt="HockeyManager23"></div>
    <div class="menu">
        <ul id="toplist">
            <a asp-area="" asp-controller="Game" asp-action="Home">
            <li class="nav-button size1 @(ViewContext.RouteData.Values["action"].ToString() == "Home" ? "selected" : "")">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </li>
            </a>
            <li><div class="spacer"></div></li>
            <a asp-area="" asp-controller="Game" asp-action="MyTeam">
            <li class="nav-button size1 @(ViewContext.RouteData.Values["action"].ToString() == "MyTeam" ? "selected" : "")">
                <i class="fa-solid fa-people-group"></i>
                <span>Team</span>
            </li>
            </a>

            <a asp-area="" asp-controller="Game" asp-action="Player">
            <li class="nav-button size1 @(ViewContext.RouteData.Values["action"].ToString() == "Player" ? "selected" : "")">
                <i class="fa-solid fa-user-plus"></i>
                <span>Players</span>
            </li>
            </a>

            <a asp-area="" asp-controller="Game" asp-action="Market">
            <li class="nav-button size1 @(ViewContext.RouteData.Values["action"].ToString() == "Market" ? "selected" : "")">
                <i class="fa-solid fa-store"></i>
                <span>Market</span>
            </li>
            </a>
            <li><div class="spacer"></div></li>
            <a asp-area="" asp-controller="Game" asp-action="Leaderboard">
            <li class="nav-button size1 @(ViewContext.RouteData.Values["action"].ToString() == "Leaderboard" ? "selected" : "")">
                <i class="fa-solid fa-medal"></i>
                <span>Leaderboard</span>
            </li>
            </a>

            <a asp-area="" asp-controller="Game" asp-action="Statistics">
            <li class="nav-button size1 @(ViewContext.RouteData.Values["action"].ToString() == "Statistics" ? "selected" : "")">
                <i class="fa-solid fa-chart-pie"></i>
                <span>Statistics</span>
            </li>
            </a>

            <a asp-area="" asp-controller="Game" asp-action="HistoryT">
            <li class="nav-button size1 @(ViewContext.RouteData.Values["action"].ToString() == "History" ? "selected" : "")">
                <i class="fa-solid fa-clock"></i>
                <span>History</span>
            </li>
            </a>
        </ul>
        <ul id="bottomlist">
            <li class="size1">Money: @currency$</li>
            <li><div class="spacer"></div></li>
            <a asp-area="" asp-controller="Home" asp-action="Logout">
            <li class="nav-button size1">
                <span>Logout</span>
            </li>
            </a>
        </ul>
    </div>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="nav-top-middle size2">
        Money: @currency$
    </div>
    <div class="nav-button nav-top-right">
        <a class="size2" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
    </div>
</nav>
<script src="~/js/Burger.js"></script>
<script src="~/js/inside.js"></script>
