@model List<Produkt>
<link rel="stylesheet" type="text/css" href="~/css/Inside.css">
<container>
    @Html.Partial("NavPartial.cshtml")
    <content>
        @{
            <h1>@ViewBag.Meddelande</h1>
            <h1>@Model.teamname</h1>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>Number:</td>
                    <td>Role:</td>
                    <td>Power:</td>
                    <td>ID:</td>
                </tr>

                @foreach (var p in Model.Players)
                {
                    <tr>
                        <td>@p.firstname @p.lastname</td>
                        <td>@p.number</td>
                        <td>@p.role</td>
                        <td>@p.power</td>
                        <td>@p.ID</td>
                    </tr>
                }
            </table>
        }
    </content>
</container>
<script src="~/js/inside.js"></script>