<style>
    td {
        border: solid 1px black;
        padding: 10px;
    }
</style>
@model List<Team>
<a class="nav-link" asp-area="" asp-controller="Produkt" asp-action="newProdukt">läg till Produkt</a>
<div id="ProduktList">
    @{
        <h1>@ViewBag.Meddelande</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td>Number:</td>
                <td>Role:</td>
                <td>Power:</td>
                <td>ID:</td>
                <td></td>
            </tr>

            @foreach (Player P in playerList)
            {

                <tr>
                    <td>
                        @P.firstname @P.lastname
                    </td>
                    <td>
                        @P.number
                    </td>
                    <td>
                        @P.role
                    </td>
                    <td>
                        @P.power
                    </td>
                    <td>
                        @P.ID
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "addRoster", "Team", new {id = @P.id})
                    </td>
                </tr>

            }
        </table>
    }
</div>